.TextoCentrado{
    text-align: center;
}



.titulo{
    font-size: 50px;
    

}


.colorFondo{
    background-color: #9ACD32;
    
}

.padding-top{
    padding-top: 20px;
    padding-bottom: 30px;
}


.imagen{
    height: 60%;
    width: 60%;
    margin: auto;
    text-align: center;
    
}

.textoProducto{
    font-size: 40px;
}

.textoPrecio{
    font-size: 25px;
}

.textoDetalle{
    font-size: 20px;
}

.padding{
    padding-top: 20px;
}

.borde{
    border: black 5px solid;
}

.colorCardTexto{
    background-color: #DCDCDC;
}