.TextoCentrado{
    text-align: center;
}

.MedidasFoto{
    border-radius: 30px;
    width: 600px;
    padding-top: 50px;
}

.dflex{
    display: flex;
    justify-content: space-between;
    
   
    

}

.padding-left{
    padding-left: 10px;
}

.padding-right{
    padding-right: 10px;
}


.titulo{
    font-size: 50px;

}

.texto{
    font-size: 20px;
}

.colorFondo{
    background-color: #9ACD32;
}

.padding-top{
    padding-top: 20px;
}