.navbar{
    min-height: 80px;
    background-color: #9ACD32;
    display: flex;
    border-bottom: 3px solid black;
    
   
}

.navbar__menus{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    
    

}

.navbar__menu{
    margin-left: 16px;
    margin-right: 16px;
    height: 32px;
    min-width: 48px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    
    

}

.transition:hover {
    font-weight: 700;
    cursor: pointer;
    color: black;
}